export(CI)
export(DomEig)
export(Elasticity)
export(Exit.cdf.iid)
export(Exit.ci.iid)
export(ExitTimes.iid)
export(Flip)
export(GenF)
export(GenStoch)
export(GenT)
export(Growth.iid)
export(Project.iid)
export(RepVal)
export(Sensitivity)
export(StabAge)
export(Totals.iid)
